<% provide(:title, 'All users') %>
<h1>ユーザー一覧</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <div>
        <%= link_to user.name, user %>
      </div>
      <div>
        総合計時間：
        <% all_time = 0 %>
        <% user.skills.each do |s| %>
          <% all_time += s.total %>
        <% end %>
        <%= all_time %>
      </div>
    </li>
  <% end %>
</ul>
