<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<table>
  <tr>
    <th>スキル</th>
    <th>累計時間</th>
    <th>追加</th>
  </tr>
</table>
