<li id="skill-<%= skill.id %>">
  <span class="skills"><%= skill.name %></span>
  <span class="skills"><%= skill.total %></span>
  <span class="skills">追加</span>
  <span class="skills">削除</span>
</li>
